:root {
    --color-page1-green: #7bae3a;
    --color-page1-green-hover: #7fbf7f;
}

/***********
    ALL
***********/

.float-r{
    float: right;
}

@media (max-width: 441px) {
    .float-r{
        float: unset;
    }
}

a#green{
    color: var(--color-page1-green)!important;
}